# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.envrc
.venv
env/
venv/
ENV/

# Database
data/*.db
data/*.db-wal
data/*.db-shm
data/*.sqlite
data/*.sqlite3

# Binaries downloaded on setup
bin/speedtest-ookla
bin/speedtest.5
bin/speedtest.md

# Logs & temp
*.log
/tmp/

# OS artifacts
.DS_Store
*.swp

# IDEs
.idea/
.vscode/
